body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
}
header .location {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625em 0;
}
header .location i {
  font-size: 1.188em;
  color: #353535;
}
header .location input {
  width: 9em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding: 0.625em;
  border: none;
  border-radius: 0.313em;
  outline: none;
  background-color: #eaeaea;
}
header .location input::placeholder {
  color: #353535;
  opacity: 1;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 38, 0.15);
}
nav .backarrow {
  position: absolute;
  left: 1.063em;
  text-decoration: none;
}
nav .backarrow i {
  font-size: 1.375em;
  display: flex;
  align-items: center;
  color: #353535;
}

.logo {
  width: 10.125em;
  max-height: 100%;
  padding: 1.25em 0 0.75em 0;
}
@media only screen and (min-width: 1024px) {
  .logo {
    width: 12.5em;
    padding: 1.88em 0 1.99em 0;
  }
}

.banner {
  object-fit: cover;
  height: 17.188em;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1.063em 1fr 1.063em;
  grid-template-rows: 1fr auto;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: minmax(1.063em, 1fr) minmax(1.063em, 78em) minmax(1.063em, 1fr);
  }
}

.reservation {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3.563em;
}
.reservation p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  color: #353535;
  margin: 0 0 1.688em 0;
}
@media only screen and (min-width: 1024px) {
  .reservation {
    padding: 1.88em 0;
  }
}
.reservation::before {
  content: "";
  position: absolute;
  z-index: -1;
  grid-column: 1/4;
  grid-row: 1/2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F6F6F6;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000;
}

h1, h2 {
  font-size: 1.5rem;
}

h1 {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5em;
    margin: 0 0 0.8em 0;
  }
}

h3 {
  font-size: 1.125em;
  line-height: 1.318em;
  margin: 0;
}

.functionnement {
  grid-column: 2/3;
  padding: 3em 0 4.25em 0;
}
.functionnement ol {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 1.563em;
  margin: 0;
  padding: 1.625em 0 0 0.75em;
  counter-reset: li;
  list-style: none;
}
@media only screen and (min-width: 1024px) {
  .functionnement ol {
    gap: 2.375em;
  }
}
.functionnement ol li {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.25em;
  flex-basis: 100%;
  margin-right: 1.8%;
  padding: 1.813em 2.375em 1.75em 2.344em;
  background: #F6F6F6;
  box-shadow: 0 0.25em 0.938em 0 rgba(0, 0, 0, 0.1490196078);
  border-radius: 1.25em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  line-height: 1.125em;
  color: #000;
}
.functionnement ol li::before {
  counter-increment: li;
  content: counters(li, ".") "";
  position: absolute;
  left: -0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1em;
  color: #FFFFFF;
  background: #9356DC;
}
.functionnement ol li i {
  color: #7e7e7e;
}
.functionnement ol li i.fa-store {
  color: #9356DC;
}
@media only screen and (min-width: 1024px) {
  .functionnement ol li {
    flex: 1 0 21%;
    white-space: nowrap;
  }
}
.functionnement::before {
  content: "";
  position: absolute;
  z-index: -1;
  grid-column: 1/4;
  grid-row: 2/3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

.restaurant {
  grid-column: 2/3;
  padding-bottom: 4.18em;
}
.restaurant::before {
  content: "";
  position: absolute;
  z-index: -1;
  grid-column: 1/4;
  grid-row: 3/4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F6F6F6;
}

.cards {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1.125em;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2em;
    grid-column-gap: 4em;
  }
}
@media only screen and (min-width: 1024px) {
  .cards {
    grid-row-gap: 3.12em;
    grid-column-gap: 6.25em;
  }
}

.card {
  position: relative;
  box-sizing: border-box;
  border-radius: 0.938em;
  background: #FFFFFF;
  text-decoration: none;
}

.card_img {
  width: 100%;
  height: 10.875em;
  object-fit: cover;
  border-top-left-radius: 0.938em;
  border-top-right-radius: 0.938em;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1em 1.563em 1em 0.813em;
}
.card-content p {
  font-size: 1.063em;
  color: #000;
  font-weight: 300;
  line-height: 1.245em;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.card-content svg {
  position: absolute;
  left: 90%;
  top: 78%;
}
.card-content .badge {
  display: grid;
  place-items: center;
  position: absolute;
  background-color: #99E2D0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  color: #10392f;
  width: 4.5em;
  height: 1.75em;
  top: 1.125em;
  right: 1.25em;
}

footer {
  background-color: #353535;
  display: flex;
  width: 100%;
  padding: 1.375em 1.5625em;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
footer ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  gap: 0.4375em;
}
@media only screen and (min-width: 1024px) {
  footer ul {
    flex-direction: row;
    gap: 0.8em;
    padding-right: 3em;
  }
}
footer ul li {
  color: #FFFFFF;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
footer ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
footer ul li i {
  margin-right: 0.85em;
  width: 0.75em;
  height: 0.75em;
}
@media only screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    padding: 2.88em 1.56em 1em 1.56em;
  }
}

.act-heart {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.act-heart:hover {
  opacity: 1;
  cursor: pointer;
}

.backarrow {
  transition: all 0.2s ease-in-out;
}
.backarrow:hover {
  transform: scale(1.3);
}

.button {
  display: flex;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  line-height: 1.063em;
  border-radius: 1.5625em;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 0.25em 0.625em 0 rgba(0, 0, 0, 0.25);
  height: 3.125em;
  width: 13.625em;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.2s;
}
.button:hover {
  opacity: 0.8;
  transform: scale(1.015);
  box-shadow: 0 0.3em 0.7em 0.3em rgba(0, 0, 0, 0.25);
}

.menucontent li:hover .check {
  transform: translateX(-4.66em);
}
.menucontent li:hover .check i {
  transform: rotate(360deg);
}
.menucontent li:hover .plateprice {
  transform: translateX(-4.66em);
}

.namelike h2 {
  transform: translateX(0);
  animation: move-title 1.2s 0.4s ease-in-out both;
}

.menutitle, .underline {
  transform: translateX(0);
  animation: move-title 1.4s 0.6s ease-in-out both;
}

.card1 {
  opacity: 0;
  animation: down-menu 1.2s 1.5s ease-in-out both;
}

.card2 {
  opacity: 0;
  animation: down-menu 1.2s 1.8s ease-in-out both;
}

.card3 {
  opacity: 0;
  animation: down-menu 1.2s 2.1s ease-in-out both;
}

.card4 {
  opacity: 0;
  animation: down-menu 1.2s 2.3s ease-in-out both;
}

@keyframes move-title {
  0% {
    transform: translateX(-99999px);
  }
  42% {
    transform: translateX(-1000px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes down-menu {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.loader {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #9356DC, #ac5bdc, #c160dc, #d667db, #FF79DA, #d885ec, #c898f8, #bba9ff, #86c3ff, #48daff, #27edff, #99E2D0);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3.5s cubic-bezier(0.73, 0.41, 0.17, 0.38);
}
.loader svg {
  position: absolute;
  animation: rotatesvg 1s 2.7s cubic-bezier(0.73, 0.41, 0.17, 0.38);
}

@keyframes rotatesvg {
  80% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: scale(1.2);
    opacity: 1;
    z-index: 1;
    position: fixed;
  }
  22% {
    transform: scale(1.4);
    box-shadow: 0 0 0 100px rgba(147, 86, 220, 0);
    opacity: 1;
    z-index: 1;
    position: fixed;
  }
  37% {
    transform: scale(1.2);
    box-shadow: 0 0 0 0 rgba(147, 86, 220, 0);
    opacity: 1;
    z-index: 1;
    position: fixed;
  }
  46% {
    transform: scale(1.4);
    box-shadow: 0 0 0 100px rgba(147, 86, 220, 0);
    opacity: 1;
    z-index: 1;
    position: fixed;
  }
  54% {
    transform: scale(1.2);
    box-shadow: 0 0 0 0 rgba(147, 86, 220, 0);
    opacity: 1;
    z-index: 1;
    position: fixed;
  }
  66% {
    transform: scale(1.4);
    box-shadow: 0 0 0 100px rgba(147, 86, 220, 0);
    opacity: 1;
    z-index: 1;
    position: fixed;
  }
  73% {
    transform: scale(1.2);
    box-shadow: 0 0 0 0 rgba(147, 86, 220, 0);
    opacity: 1;
    z-index: 1;
    position: fixed;
  }
  84% {
    transform: scale(1.4);
    box-shadow: 0 0 0 100px rgba(147, 86, 220, 0);
    opacity: 0.8;
    z-index: 1;
    position: fixed;
  }
  92% {
    transform: scale(1.2);
    box-shadow: 0 0 0 0 rgba(147, 86, 220, 0);
    opacity: 0.5;
    z-index: 1;
    position: fixed;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 -40px rgba(147, 86, 220, 0);
    opacity: 0.3;
    z-index: 1;
    position: fixed;
  }
}
.restaurant-container .namelike {
  background-color: #F6F6F6;
  border-radius: 2.5em 2.5em 0 0;
  position: relative;
  margin-top: -2.4em;
  padding: 2em 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  .restaurant-container .namelike {
    justify-content: center;
    gap: 1em;
  }
}
.restaurant-container .namelike h2 {
  font-family: "Shrikhand", serif;
  font-size: 1.75em;
  font-weight: 400;
  margin: 0;
  padding-left: 1.06em;
}
.restaurant-container .namelike .like {
  display: flex;
  align-items: center;
}
.restaurant-container .namelike .like .act-heart {
  position: relative;
  left: -1.375em;
}
.restaurant-container .menu-restaurant {
  background: #F6F6F6;
}
.restaurant-container .menu-restaurant .cardsmenu {
  padding-bottom: 2.5em;
}
.restaurant-container .menu-restaurant .cardsmenu .menutitle {
  margin-left: 2%;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}
@media only screen and (min-width: 1440px) {
  .restaurant-container .menu-restaurant .cardsmenu .menutitle {
    margin-left: 20%;
  }
}
.restaurant-container .menu-restaurant .cardsmenu .underline {
  border: 2px solid #99E2D0;
  width: 2.5em;
  margin-left: 2%;
  margin-top: 0.313em;
}
@media only screen and (min-width: 1440px) {
  .restaurant-container .menu-restaurant .cardsmenu .underline {
    margin-left: 20%;
  }
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 0;
  margin-top: 0.75em;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li {
  list-style: none;
  background: #FFFFFF;
  border-radius: 0.94019em;
  width: 96%;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  overflow: hidden;
  justify-content: space-between;
}
@media only screen and (min-width: 1440px) {
  .restaurant-container .menu-restaurant .cardsmenu .menucontent li {
    max-width: 60%;
  }
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate {
  overflow: hidden;
  width: 85%;
  padding: 0.94em;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate p, .restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate h4 {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate h4 {
  font-size: 1.125em;
  font-weight: 700;
  margin: 0;
}
@media only screen and (max-width: 420px) {
  .restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate h4 {
    max-width: 90%;
  }
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate p {
  font-size: 0.94019em;
  font-weight: 300;
  margin-top: 0.31em;
  margin-bottom: 0;
}
@media only screen and (max-width: 420px) {
  .restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate p {
    max-width: 70%;
  }
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .pricecheck {
  display: flex;
  flex-direction: row;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .pricecheck .plateprice {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1em;
  font-weight: 700;
  color: #353535;
  font-family: "Roboto", sans-serif;
  padding-right: 1em;
  transition: all 0.7s ease-in-out;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .pricecheck .check {
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  min-width: 4.66em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease-in-out;
  margin-right: -4.66em;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .pricecheck .check i {
  color: #FFFFFF;
  transition: all 0.7s ease-in-out;
  font-size: 1.7em;
}
.restaurant-container .menu-restaurant .btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2.5em;
}
.restaurant-container .menu-restaurant .btn-container .button {
  width: 11.625em;
  height: 3.125em;
}
@media only screen and (min-width: 1024px) {
  .restaurant-container {
    padding: 0 13.2em;
  }
}

/*# sourceMappingURL=style.css.map */
