body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
}
header .location {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625em 0;
}
header .location i {
  font-size: 1.188em;
  color: #353535;
}
header .location input {
  width: 9em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding: 0.625em;
  border: none;
  border-radius: 0.313em;
  outline: none;
  background-color: #eaeaea;
}
header .location input::placeholder {
  color: #353535;
  opacity: 1;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 38, 0.15);
}
nav .backarrow {
  position: absolute;
  left: 1.063em;
  text-decoration: none;
}
nav .backarrow i {
  font-size: 1.375em;
  display: flex;
  align-items: center;
  color: #353535;
}

.logo {
  width: 10.125em;
  max-height: 100%;
  padding: 1.25em 0 0.75em 0;
}
@media only screen and (min-width: 1024px) {
  .logo {
    width: 12.5em;
    padding: 1.88em 0 1.99em 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 1.063em 1fr 1.063em;
  grid-template-rows: 1fr auto;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: minmax(1.063em, 1fr) minmax(1.063em, 78em) minmax(1.063em, 1fr);
  }
}

.reservation {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3.563em;
}
.reservation p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  color: #353535;
  margin: 0 0 1.688em 0;
}
@media only screen and (min-width: 1024px) {
  .reservation {
    padding: 1.88em 0;
  }
}
.reservation::before {
  content: "";
  position: absolute;
  z-index: -1;
  grid-column: 1/4;
  grid-row: 1/2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F6F6F6;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000;
}

h1, h2 {
  font-size: 1.5rem;
}

h1 {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5em;
    margin: 0 0 0.8em 0;
  }
}

h3 {
  font-size: 1.125em;
  line-height: 1.318em;
  margin: 0;
}

.button {
  display: flex;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  line-height: 1.063em;
  border-radius: 1.5625em;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 0.25em 0.625em 0 rgba(0, 0, 0, 0.25);
  height: 3.125em;
  width: 13.625em;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.2s;
}
.button:hover {
  opacity: 0.8;
  transform: scale(1.015);
}

.functionnement {
  grid-column: 2/3;
  padding: 3em 0 4.25em 0;
}
.functionnement ol {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 1.563em;
  margin: 0;
  padding: 1.625em 0 0 0.75em;
  counter-reset: li;
  list-style: none;
}
@media only screen and (min-width: 1024px) {
  .functionnement ol {
    gap: 2.375em;
  }
}
.functionnement ol li {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.25em;
  flex-basis: 100%;
  margin: 0;
  padding: 1.813em 2.375em 1.75em 2.344em;
  background: #F6F6F6;
  box-shadow: 0 0.25em 0.938em 0 rgba(0, 0, 0, 0.1490196078);
  border-radius: 1.25em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  line-height: 1.125em;
  color: #000;
}
.functionnement ol li::before {
  counter-increment: li;
  content: counters(li, ".") "";
  position: absolute;
  left: -0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1em;
  color: #FFFFFF;
  background: #9356DC;
}
.functionnement ol li i {
  color: #7e7e7e;
}
.functionnement ol li i.fa-store {
  color: #9356DC;
}
@media only screen and (min-width: 1024px) {
  .functionnement ol li {
    flex: 1 0 22%;
    white-space: nowrap;
  }
}
.functionnement::before {
  content: "";
  position: absolute;
  z-index: -1;
  grid-column: 1/4;
  grid-row: 2/3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

.restaurant {
  grid-column: 2/3;
  padding-bottom: 4.18em;
}
.restaurant::before {
  content: "";
  position: absolute;
  z-index: -1;
  grid-column: 1/4;
  grid-row: 3/4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F6F6F6;
}

.cards {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1.125em;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2em;
    grid-column-gap: 4em;
  }
}
@media only screen and (min-width: 1024px) {
  .cards {
    grid-row-gap: 3.12em;
    grid-column-gap: 6.25em;
  }
}

.card {
  position: relative;
  box-sizing: border-box;
  border-radius: 0.938em;
  background: #FFFFFF;
  text-decoration: none;
}

.card_img {
  width: 100%;
  height: 10.875em;
  object-fit: cover;
  border-top-left-radius: 0.938em;
  border-top-right-radius: 0.938em;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1em 1.563em 1em 0.813em;
}
.card-content p {
  font-size: 1.063em;
  color: #000;
  font-weight: 300;
  line-height: 1.245em;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.card-content svg {
  position: absolute;
  left: 90%;
  top: 78%;
}
.card-content .badge {
  display: grid;
  place-items: center;
  position: absolute;
  background-color: #99E2D0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  color: #10392f;
  width: 4.5em;
  height: 1.75em;
  top: 1.125em;
  right: 1.25em;
}

footer {
  background-color: #353535;
  display: flex;
  width: 100%;
  padding: 1.375em 1.5625em;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
footer ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  gap: 0.4375em;
}
@media only screen and (min-width: 1024px) {
  footer ul {
    flex-direction: row;
    gap: 0.8em;
    padding-right: 3em;
  }
}
footer ul li {
  color: #FFFFFF;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
footer ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
@media only screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    padding: 2.88em 1.56em 1em 1.56em;
  }
}

.card-content .act-heart {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.card-content .act-heart:hover {
  opacity: 1;
}

.restaurant-container .banner {
  object-fit: cover;
  height: 17.188em;
  width: 100%;
}
.restaurant-container .namelike {
  background-color: #F6F6F6;
  border-radius: 2.5em 2.5em 0 0;
  position: relative;
  margin-top: -3.875em;
  max-width: 65.9375em;
  padding: 2em 1.06em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant-container .namelike h2 {
  font-family: "Shrikhand", serif;
  font-size: 1.75em;
  font-weight: 400;
  margin: 0;
}
.restaurant-container .namelike .like {
  display: flex;
  align-items: center;
}
.restaurant-container .namelike .like .act-heart {
  position: relative;
  left: -1.375em;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.restaurant-container .namelike .like .act-heart:hover {
  opacity: 1;
}
.restaurant-container .menu-restaurant {
  background: #F6F6F6;
}
.restaurant-container .menu-restaurant .cardsmenu {
  padding-bottom: 2.5em;
}
.restaurant-container .menu-restaurant .cardsmenu .menutitle {
  padding-left: 0.5em;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}
.restaurant-container .menu-restaurant .cardsmenu .underline {
  border: 2px solid #99E2D0;
  width: 2.5em;
  margin-left: 0.5em;
  margin-top: 0.313em;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 0;
  margin-top: 0.75em;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li {
  list-style: none;
  background: #FFFFFF;
  border-radius: 0.94019em;
  width: 96%;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate {
  width: 85%;
  padding: 0.94em;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate p {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate .platetitle {
  font-size: 1.125em;
  font-weight: 700;
  margin: 0;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .plate .platecontent {
  font-size: 0.94019em;
  font-weight: 300;
  margin-top: 0.31em;
  margin-bottom: 0;
}
.restaurant-container .menu-restaurant .cardsmenu .menucontent li .plateprice {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1em;
  font-weight: 700;
  color: #353535;
}
.restaurant-container .menu-restaurant .btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2.5em;
}
.restaurant-container .menu-restaurant .btn-container .button {
  width: 11.625em;
  height: 3.125em;
}

/*# sourceMappingURL=style.css.map */
