    .act-heart{
        opacity: 0;
        transition: all 0.2s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }


.backarrow{
    transition: all 0.2s ease-in-out;
    &:hover{
        transform: scale(1.3);
    }
}

.button{
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    font-family: $text1;
    line-height: 1.063em;
    border-radius: 1.5625em;
    background: linear-gradient(193deg, $primary -11.44%, $secondary 123.93%);
    box-shadow: 0 0.25em 0.625em 0 rgba(0, 0, 0, 0.25);
    height: 3.125em;
    width: 13.625em;
    color: $backgroundwhite;
    text-decoration: none;
    transition: all 0.2s;
    &:hover{
        opacity: 0.8;
        transform: scale(1.015);
    }
}