footer{
    background-color: $title;
    h3{
        color:$backgroundwhite;
        font-family: $text2;
    }
    ul{
        li{
            color: $backgroundwhite;
            list-style: none;
        }
    }
}