header{
    display: flex;
    flex-direction: column;

}

nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 38, 0.15);
}

.logo{
    width: 10.125em;
    max-height: 100%;
    padding: 1.25em 0 0.75em 0;
}

header p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    background-color: var(--grey-2);
    gap: 1.06em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: normal;
    color: var(--grey-1);
}
