header{
    // Mise en page des entetes de chaques pages
    display: flex;
    flex-direction: column;
        .location {
            // Mise en page de l'input de l'index
        width: 100%;
        background-color: $grey2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.625em 0;
        i {
            font-size: 1.188em;
            color: $grey1;
          }
          input {
            width: 9em;
            font-family: $text1;
            font-size: 1em;
            font-weight: 400;
            text-align: center;
            padding: 0.625em;
            border: none;
            border-radius: 0.313em;
            outline: none;
            background-color:$grey2;
            &::placeholder{
                color: $grey1;
                opacity: 1;
            }
          }
        }
}

nav{
    // Logo et retour en arrière des pages restaurants
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 38, 0.15);

    .backarrow{
        position: absolute;
        left: 1.063em;
        text-decoration: none;
        i{
            font-size: 1.375em;
            display: flex;
            align-items: center;
            color: $grey1;
        }
    }
}

.logo{
    // Taille du logo sur les différentes pages
    width: 10.125em;
    max-height: 100%;
    padding: 1.25em 0 0.75em 0;

    @media only screen and (min-width: 1024px){
        width: 12.5em;
        padding: 1.88em 0 1.99em 0;
    }
}


.banner{
    // Mise en page de la photo des restaurants de l'entête
    object-fit: cover;
    height: 17.188em;
    width: 100%;
     }