.restaurant-container{
    .banner{
        object-fit: cover;
        height: 17.188em;
        width: 100%;
         }
        .namelike{
        background-color: $backgroundgrey;
        border-radius: 2.5em 2.5em 0 0;
        position: relative;
        margin-top: -3.875em;
        max-width: 65.9375em;
        padding: 2em 1.06em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h2{
            font-family: $text2;
            font-size: 1.75em;
            font-weight: 400;
            margin: 0;
        }

        .like{
            display: flex;
            align-items: center;
            .act-heart{
                position: relative;
                left: -1.375em;
            }
        }
    }
    .menu-restaurant{
        background: $backgroundgrey;

        .cardsmenu{
            padding-bottom: 2.5em;
            .menutitle{
                padding-left: 0.5em;
                font-weight: 300;
                font-size: 1em;
                text-transform: uppercase              
            }
            .underline{
                border: 2px solid #99E2D0;
                width: 2.5em;
                margin-left: 0.5em;
                margin-top: 0.313em;
                }
            .menucontent{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.75rem;
                padding: 0;
                margin-top: 0.75em;
                li{
                    list-style: none;
                    background: $backgroundwhite;
                    border-radius: 0.94019em;
                    width: 96%;
                    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
                    display: flex;
                    flex-direction: row;

                    .plate{
                        p{
                            font-family: $text1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .platetitle{
                            font-size: 1.125em;
                            font-weight: 700;
                            margin: 0;
                        }
                        .platecontent{
                            font-size: 0.94019em;
                            font-weight: 300;
                            margin-top: 0.31em;
                            margin-bottom: 0;
                        }
                        width: 85%;
                        padding: 0.94em;
                    }
                    .plateprice{
                        display: flex;
                        align-items: flex-end;
                        padding-bottom: 1em ;
                        font-weight: 700;
                        color: $grey1;
                        font-family: $text1;
                    }
                }
            }
        }
        .btn-container{
            display: flex;
            justify-content: center;
            padding-bottom: 2.5em;
            .button{
            width: 11.625em;
            height: 3.125em;
            }
        }     
    }
}