.restaurant-container{
    // Correspond à l'ensemble du main

        .namelike{
            // Correspond au nom du restaurant,bouton like et 
            // le radius sur le bas de la photo
        background-color: $backgroundgrey;
        border-radius: 2.5em 2.5em 0 0;
        position: relative;
        margin-top: -2.4em;        
        padding: 2em 0em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        @media only screen and (min-width: 1024px){
            justify-content: center;
            gap: 1em;
        }

        h2{
            font-family: $text2;
            font-size: 1.75em;
            font-weight: 400;
            margin: 0;
            padding-left: 1.06em;
        }

        .like{
            display: flex;
            align-items: center;
            .act-heart{
                position: relative;
                left: -1.375em;
            }
        }
    }
    .menu-restaurant{
        // Correspond au menu complet et bouton commander
        background: $backgroundgrey;
        .cardsmenu{
            // Correspond à chacunes des parties entrées plats desserts avec leurs titres
            padding-bottom: 2.5em;
            .menutitle{
                margin-left: 2%;
                font-weight: 300;
                font-size: 1em;
                text-transform: uppercase;               
                @media only screen and (min-width: 1440px){
                    margin-left: 20%;
                }
            }
            .underline{
                border: 2px solid #99E2D0;
                width: 2.5em;
                margin-left: 2%;
                margin-top: 0.313em;
                @media only screen and (min-width: 1440px){
                    margin-left: 20%;
                }
                }
            .menucontent{
                // Cible plus précisement le menu sans les titres
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.75rem;
                padding: 0;
                margin-top: 0.75em;
                li{
                    // Correspond à chaques plats
                    list-style: none;
                    background: $backgroundwhite;
                    border-radius: 0.94019em;
                    width: 96%;
                    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
                    display: flex;
                    flex-direction: row;
                    cursor: pointer;
                    overflow: hidden;
                    justify-content: space-between;
                    @media only screen and (min-width: 1440px){
                        max-width: 60%;
                    }
                    .plate{
                        overflow: hidden;
                        width: 85%;
                        padding: 0.94em;
                        
                        p, h4{
                            font-family: $text1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                        }
                        h4{
                            font-size: 1.125em;
                            font-weight: 700;
                            margin: 0;   
                            
                            @media only screen and (max-width: 420px){
                                max-width: 90%;
                            }
                        }
                        p{
                            font-size: 0.94019em;
                            font-weight: 300;
                            margin-top: 0.31em;
                            margin-bottom: 0;
                            @media only screen and (max-width: 420px){
                                max-width: 70%;
                            }
                        }

                    }
                    .pricecheck{
                        // correspond à la forme de l'encoche animé
                        display: flex;
                        flex-direction: row;
                        .plateprice{
                            display: flex;
                            align-items: flex-end;
                            padding-bottom: 1em ;
                            font-weight: 700;
                            color: $grey1;
                            font-family: $text1;
                            padding-right: 1em;
                            transition: all 0.7s ease-in-out;
                             }

                        .check{
                            border-radius: 0 15px 15px 0;
                            background-color: $third;
                            min-width: 4.66em;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.7s ease-in-out;
                            margin-right: -4.66em;
                            i{
                                color: $backgroundwhite;
                                transition: all 0.7s ease-in-out;
                                font-size: 1.7em;
                                }
                            }
                        }
                    }
                }
            }
            .btn-container{
                 display: flex;
                justify-content: center;
                padding-bottom: 2.5em;
                    .button{
                    width: 11.625em;
                    height: 3.125em;
                    }
                }     
            }

            @media only screen and (min-width: 1024px){
                padding: 0 13.2em;
            }
        }