:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --third-color: #99E2D0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', serif;
    --grey-1: #353535;
    --grey-2: #eaeaea;
}

body{
    margin: 0;
    padding: 0;
}