$primary: #9356DC;
$secondary: #FF79DA;
$third: #99E2D0;
$text1: 'Roboto', sans-serif;
$text2: 'Shrikhand', serif;
$grey1:#353535;
$grey2: #eaeaea;
$backgroundgrey:#F6F6F6;
$backgroundwhite:#FFFFFF;
$title:#000;


body{
    // Mise en forme de la taille globale des pages
    margin: 0;
    padding: 0;
}